#chat-screen {
  background-color: white;
  height: 700vh;
}

.alt-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}
.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.chat__timestamp {
  color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 8px 13px;
  border-radius: 10px;

  margin-right: 5px;
  width: 45px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.message__time {
  font-size: 13px;
  opacity: 0.7;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  margin-left: 8px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 15px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
}

.reply__column:last-child > i,
{
  right: -3.5px;
  top: 2.5px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 8px;
}


}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column I{
  margin: 0px 7px;
}


.message-row img{
  border: 1px solid rgba(0, 0, 0, 0.3);
}