@keyframes heartbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5, 1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartbeat 1s linear infinite;
}

.screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-header input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.main-search img {
  width: 150px;
  height: 150px;
}
